
{% extends "templates/web.html" %}

{% block page_content %}
<h1>{{ title |e }}</h1>
<div>

<h2 class="text-left"style="font-size: 30px;">Flight Details</h2>
<ul>
    <li>Airline:{{doc.airplane}}</li>
<li>{{doc.source_airport_code}}->{{doc.destination_airport_code}}</li>
    <li>{{doc.date_of_departure}} |
     Time: {{doc.time_of_departure}}</li>
     <li>Duration: {{frappe.utils.format_duration(doc.duration)}}</li>
</ul>
 </div>
<div style="text-align: left;"> 
<a class="btn btn-primary"
   href="/book-flight-ticket-web-form/new?flight={{ doc.name }}&flight_price=12345">
  Book Flight
</a>


{% endblock %}
